<%# Chart.js本体を読み込む（まずはこれをやる。）%>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<%# Chart.js の DataLabels プラグインを読み込む。（まずはこれをやる。）%>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>

<%# タグ付けキーワードの累積ランキング円グラフ：trendChartという名前で領域を作ってグラフを描画する。 %>
<div class="w-full overflow-x-auto mb-4">
  <canvas id="trendChart" class="max-w-full h-auto"></canvas>
</div>

<%# グラフ描画のスクリプト %>
<%# chart.jsでグラフを書くには、JSONという形式に変換し、JavaScript(Chart.jsを稼働させる)に渡してあげる必要あり。 %>
<%# ここにグラフの情報本体が集結する。またここから先がjavascriptのスクリプトになる。 %>
<script>
  // @chart_data からデータを受け取る
  const chartData = <%= raw @chart_data.to_json %>;

  // グラフの描画処理
  const ctx = document.getElementById('trendChart').getContext('2d');
  new Chart(ctx, {
    type: 'pie', // 円グラフの指定をする。
    data: chartData, // コントローラから受け取ったデータを使用すると明記
    options: {
      responsive: true, // レスポンシブ対応したいので、ここでtrueにしておく。
      maintainAspectRatio: false,
      plugins: {
        title: {
          display: true,
          text: chartData.datasets[0].label // タイトルにデータセットのラベルを表示
        },
        legend: {
          position: 'right',  // 汎用の出す位置を指定。今回は右サイドに出したいのでright指定。
          labels: {
            color: '#333', // ラベルの色指定
            font: {
              size: 15,
              weight: 'bold' //フォントはボールド設定
            }
          }
        },
        datalabels: {
          color: '#fff',
          font: {
            weight: 'bold',
            size: 8
          },
          formatter: function (value, context) {
            return context.chart.data.labels[context.dataIndex]; // ラベルを表示
          }
        }
      }
    },
    plugins: [ChartDataLabels] // DataLabels プラグインを使用。（円グラフの数字などを出すために必要）
  });
</script>

<%# 農作業スケジュール用のチャート %>
<div class="flex justify-between items-center mb-4">
  <h4 style="border-bottom: 2px solid #ccc; padding-bottom: 8px;">
    <strong>青森のりんご作りを知ろう</strong>
  </h4>
  <p>青森のりんご農家さんの1年の作業をまとめています。作業名をタグ付けしている農家さんもいるので、どのような作業をいつ行なっているのか一緒に勉強してりんごマスターになりましょう！気になる作業は検索で投稿チェック！</p>
  <%# ここから２個目のガントチャートグラフの表示のための領域を以下のCanvasで指定する %>
  <div class="w-full overflow-x-auto mb-4">
    <canvas id="ganttChart" class="w-full" style="height: 400px;"></canvas>
  </div>

  <%# ここからガントチャートのJavascript。turbolinks:loadで、Javascriptの初期処理が呼ばれない（画面にグラフ表示されない現象）が起きないように処置。%>
  <script>
    document.addEventListener("turbolinks:load", function() {
      const ctx = document.getElementById('ganttChart').getContext('2d');

      const data = {
        labels: [
          '施肥（肥料やり）', '病害虫駆除（薬剤散布）', '授粉（マメコバチ）', '草刈り', '摘果（実すぐり）', '袋掛け',
          '袋はぎ', '反射シート敷', '摘葉', '実まわし', '収穫', '選果', '枝剪定'
        ],
        datasets: [
          {
            label: '作業開始',
            data: [3, 4, 5, 5, 6, 7, 8, 8, 8, 8, 8, 8, 2],
            backgroundColor: 'rgba(0,0,0,0)' // 透明バーで位置調整
          },
          {
            label: '作業終了',
            data: [2, 4, 1, 4, 2, 1, 1, 2, 2, 2, 3, 6, 2],
            backgroundColor: 'rgba(75,192,192,0.8)' // 実際のバーの色指定
          }
        ]
      };

      const config = {
        type: 'bar',
        data: data,
        options: {
          indexAxis: 'y',
          responsive: true,  // レスポンシブ対応
          maintainAspectRatio: false,  // アスペクト比を無視
          scales: {
            x: {
              title: {
                display: true,
                text: '月'
              },
              stacked: true,
              min: 1,
              max: 12
            },
            y: {
              stacked: true,
              ticks: {
                callback: function(value, index, ticks) {
                  return data.labels[index]; // 各作業名を表示
                }
              },
              angle: -45
            }
          }
        }
      };
      new Chart(ctx, config); // グラフを描画
    });
  </script>
</div>
