<div class="search-form" 
   style="max-width: 960px; margin: 20px auto; display: flex; justify-content: right; flex-wrap: wrap;">
  <%= render 'public/search/form' %>
</div> 
<h4 style="text-align: center; border-bottom: 2px solid #ccc; padding-bottom: 8px; margin-bottom: 30px;">
  <strong>投稿一覧</strong>
</h4>
<%= render 'public/posts/index', posts: @posts %>