
<div class = "m-4" style="display: inline-block; width: 45%; vertical-align: top;">
    <img src="<%= asset_path('aomoringolab_about.jpg') %>" alt="アオモリンゴラボ" />
</div>

<div style="display: inline-block; width: 45%; vertical-align: top;">
  <h2 class="m-4">アオモリンゴラボについて</h2>
  <p>アオモリンゴラボは、青森県産のりんごの生産者（農家）と需要者（企業、飲食店、個人）がつながり、りんごの生産、流通、消費に関する情報やニーズをシェアすることができるコミュニティ型SNSサイトです。農家と消費者、企業が集まり、青森のりんごをより有効に活用するための新しいアイディアやビジネスチャンスを生み出します。</p>
  <p>サイトを通じて、農家とビジネスをつなげ、SDGs活動にも貢献できます。</p>
</div>


