<h4 style="text-align: center; border-bottom: 2px solid #ccc; padding-bottom: 8px; margin-bottom: 30px; margin-top:30px;">
  <strong><%= @user.name%>さんのフォロー中会員</strong>
</h4>
<div class="followers" 
   style="max-width: 960px; margin: 20px auto; display: flex; justify-content: end; flex-wrap: wrap;">
  <%= link_to "<<会員ページに戻る", admin_user_path(@user) %>
</div>
<% if @users.exists? %>
  <%# ユーザー一覧テンプレート呼び出し %>
  <%= render 'admin/users/index', users: @users %>
<% else %>
<div class="followers-result-message" 
   style="max-width: 960px; margin: 20px auto; display: flex; justify-content: center; flex-wrap: wrap;">
  <p>フォローしているユーザーはいません</p>
</div>
<% end %>