<%# 検索ボックスの呼び出し%>
<div style="text-align: end; padding-bottom: 8px; margin-bottom: 30px;">
  <%= render 'admin/search/post_form' %>
</div>
<%# 投稿一覧画面の部分テンプレート呼び出し %>
<%= render 'admin/posts/index', posts: @posts %>
