@use '~bootstrap/scss/bootstrap';
.custom-card {
  width: 18rem;
  height: 250px;
  margin: 20px;
  background-color: #589ec1;  /* 背景色の設定 */
  color: white;  /* 文字色を白にする */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;  /* カードの角を丸くする。*/
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  /* 影をつける */
  text-decoration: none;
}
/* レスポンシブ対応 */
@media (max-width: 767px) {
  .sticky-top {
    top: 40px; /* 小さい画面での調整 */
  }

  .position-sticky {
    top: 100px; /* プロフィールの位置を調整 */
  }
}
  /* ハンバーガーメニュー */
  .navbar-toggler {
    background-color: #218838;
  }

  /* プルダウンメニューの背景 */
  .navbar-collapse {
    background-color: #218838;
  }

  .navbar-nav .nav-item {
    background-color: #218838;
  }

  /* プルダウンメニュー項目が選択時に背景色を維持 */
  .navbar-nav .nav-item:hover {
    background-color: #218838;
  }

  /* メニュー項目の文字色が白のままで表示されるように */
  .navbar-nav .nav-link {
    color: white !important;
  }

  /* メニュー項目のホバー時の文字色 */
  .navbar-nav .nav-link:hover {
    color: #fff !important;
  }

  /* ロゴリンクのサイズ調整　*/
  .logo-img {
    width: 100%;
    max-width: 240px; // PCではこの最大サイズまで
    height: auto;
    display: block;
  }
  
  // スマホ（画面幅768px以下）のときは少しだけ縮小
  @media (max-width: 768px) {
    .logo-img {
      max-width: 160px;
    }
  }