@use '~bootstrap/scss/bootstrap';
@media (max-width: 768px) {
  .custom-card {
    margin-bottom: 1.5rem; /* 下部の余白を調整 */
    padding: 1.5rem; /* カード内部のパディングを増やす */
  }

  .card {
    width: 100%; /* 幅を100%にして、カードが画面幅に収まるようにする */
  }
}

@media (max-width: 576px) {
  .custom-card {
    margin-bottom: 1rem; /* さらに狭いデバイス向けに余白を調整 */
  }

  .card {
    width: 100%; /* 幅を100%にして、モバイル画面に最適化 */
  }
}

/* レスポンシブ対応 */
@media (max-width: 767px) {
  .sticky-top {
    top: 40px; /* 小さい画面での調整 */
  }

  .position-sticky {
    top: 100px; /* プロフィールの位置を調整 */
  }
}
  /* ハンバーガーメニュー */
  .navbar-toggler {
    background-color: #218838;
  }

  /* プルダウンメニューの背景 */
  .navbar-collapse {
    background-color: #218838;
  }

  .navbar-nav .nav-item {
    background-color: #218838;
  }

  /* プルダウンメニュー項目が選択時に背景色を維持 */
  .navbar-nav .nav-item:hover {
    background-color: #218838;
  }

  /* メニュー項目の文字色が白のままで表示されるように */
  .navbar-nav .nav-link {
    color: white !important;
  }

  /* メニュー項目のホバー時の文字色 */
  .navbar-nav .nav-link:hover {
    color: #fff !important;
  }

  /* ロゴリンクのサイズ調整　*/
  .logo-img {
    width: 100%;
    max-width: 240px; // PCではこの最大サイズまで
    height: auto;
    display: block;
  }
  
  // スマホ（画面幅768px以下）のときは少しだけ縮小
  @media (max-width: 768px) {
    .logo-img {
      max-width: 160px;
    }
  }