<%# ユーザー、投稿検索共通の結果一覧表示ビューの追加 それぞれ検索結果は実際には部分テンプレを呼び出す。 2025/04/14 %>
<% if @model == 'user' %>
	<h3>ユーザーの検索 "<%= @content %>"</h3>
  <%= render 'public/users/index', users: @records %>
<% elsif @model == 'post' %>
	<h3>投稿の検索 "<%= @content %>"</h3>
  <%= render 'public/posts/index', posts: @records %>
<% end %>