<%# 検索ボックスの呼び出し%>
<div style="text-align: end; padding-bottom: 8px; margin-bottom: 30px;">
  <%= render 'admin/search/user_form' %>
</div>
<h4 style="text-align: center; border-bottom: 2px solid #ccc; padding-bottom: 8px; margin-bottom: 30px;">
  <strong>ユーザー一覧</strong>
</h4>
<%# ユーザー一覧部分テンプレート呼び出し%>
<%= render 'admin/users/index', users: @users %>