<%# 検索ボックスの呼び出し%>
<div style="text-align: end; padding-bottom: 8px; margin-bottom: 30px;">
  <%= render 'admin/search/user_form' %>
</div>
<%# ユーザー一覧部分テンプレート呼び出し%>
<%= render 'admin/users/index', users: @users %>