<%# top画面のレイアウトを踏襲。背景画像として岩木山の写真が画面の上半分に出るよう、min-heightにて設定。 %>
<header 
  class="d-flex align-items-center justify-content-center text-white text-center m-4"
  style="
    background-image: url(<%= asset_path('aomoringolab_other2.jpg') %>);
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    position: relative;
  "
>
</header>

<section class="inner">
  <div class="d-flex flex-column flex-md-row align-items-center justify-content-center mb-4">
    <div class="me-md-4 mb-3 mb-md-0 text-center">
      <h3 class="text-md-start">
        退会すると、会員登録情報やこれまでの投稿や他の会員の投稿は<br>
        閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </h3>
    </div>
    <div>
      <%= image_tag 'hakase_sad.png', class: "img-fluid", alt: "悲しい博士" %>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <%= link_to "マイページに戻る", user_path(current_user), class: "btn", style: "background-color: #00bfff ; color: white;"%>
    <%= button_to "それでも退会する", user_registration_path, method: :delete, data: { confirm: "OKを押すと退会処理がされます。本当によろしいですか？" }, class: "btn btn-danger" %>
  </div>
</section>
